<%- contentFor( 'body') %>

<div class="table-responsive-xl ">

    <center>
        <h1 style="padding-top: 50px; padding-bottom: 20px;">Cadastrar novo usuário</h1>
    </center>

    <form action="/cadastro/add" method="post">
        
        <div class="form-group">
            <label for="_image">Foto (URL):</label>
            <input type="url" name="_image" id="_image" class="form-control">
        </div>

        <div class="form-group">
            <label for="_name">Nome:</label>
            <input type="text" name="_name" id="_name" class="form-control">
        </div>

        <div class="form-group">
            <label for="_email">E-mail:</label>
            <input type="email" name="_email" id="_email" class="form-control">
        </div>

        <div class="form-group">
            <label for="_address">Endereço:</label>
            <input type="text" name="_address" id="_address" class="form-control">
        </div>

        <div class="form-group">
            <label for="_heigth">Altura (Ex: 1.76):</label>
            <input type="text" name="_heigth" id="_heigth" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" maxlength="4">
        </div>

        <div class="form-group">
            <label for="_age">Idade:</label>
            <input type="number" name="_age" id="_age" class="form-control" maxlength="3">
        </div>

        <div class="form-group">

            <label for="_vote">Votou:</label><br>
            <input type="radio" name="_vote" id="_vote" value="true">
            <label for="_vote">true</label><br>
            <input type="radio" name="_vote" id="_vote" value="false">
            <label for="_vote">false</label><br>

        </div>

        <div class="form-group">
            <input type="submit" value="Enviar"  class="btn btn-success">
        </div>

    </form>

    
</div>