<%- contentFor( 'body') %>

<div style="padding-top: 50px;">
    <center>
        <h1>Trabalho Final de Autoração e Multimídia II</h1>
    </center>
</div>

<div style="padding-top: 20px; padding-left: 150px; padding-right: 150px; ">
    <center>
        <p style="font-size: 25px;">Trabalho desenvolvido pelo aluno Paulo Sérgio.</p>

        <img src="/img.png" alt="Minha Figura">

    </center>
</div>